body {
  background-color: hsl(30, 38%, 92%);
  color: hsl(228, saturation, lightness);
  /*
    새로 알게된 문법 #3
    hsl : (색상, 투명도, 밝기)
    https://www.w3schools.com/colors/colors_hsl.asp
    */
  font-family: "Montserrat";
  display: inline;
  margin: 8px;
}

div {
  display: block;
}

.grid {
  width: 100%;
  max-width: 800px;

  place-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*grid-template-areas: "a b";*/

  /*화면 중앙 정렬 요소, auto*/
  margin: 10em auto;
  /*
display: flex 
justify
allign 
*/

  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
}

#deskTop {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#mobile {
  display: none;
}

/*  
****
********   #설명 영역
*/
.gridItem {
  height: 100%;
  padding: 10%; /*전체 텍스트의 거리 요소*/
  font-family: "Montserrat", sans-serif;
}

.category {
  padding-top: 50px;
  letter-spacing: 0.6em;
  color: hsl(158, 36%, 37%);
}

.name {
  font-family: "Fraunces", serif;
  font-weight: 700%;
  font-size: 1.3em;
}

.detail {
  font-size: 16px;
  font-weight: 500%;
  line-height: 2;
}

.now-price {
  font-family: "Fraunces", serif;
  font-weight: 700%;
  font-size: 2em;
  color: hsl(158, 36%, 37%);
}

.origin-price {
  text-decoration: line-through;
  padding-left: 15px;
}

.add {
  margin: 20px;
  padding: 20px;
  text-align: center;
  color: hsl(30, 38%, 92%);
  background-color: hsl(158, 36%, 37%);
  border-radius: 5px;
}

.add:hover {
  background-color: hsl(228, 12%, 48%);
  box-shadow: 2px 2px hsl(212, 21%, 14%);
  color: white;
}

/*Mobile version*/
@media (max-width: 750px) {
  .grid {
    max-width: 375px;
    display: block;
    margin: 3em auto;
  }

  #deskTop {
    display: none;
  }

  #mobile {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .category {
    padding-top: 0; /*초기화 설정*/
  }
}
